.favorite {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.heart_filled {
    background-image: url("../img/heart_filled.svg");
}

.heart_plus {
    background-image: url("../img/heart_plus.svg");
}
