@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-light";
    src: url("fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: "Lato-bold";
    src: url("fonts/Lato-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}
html,
body {
    height: 100%;
    background-color: $off-white;
    display: flex;
    justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}

#app {
    max-width: 600px;
    width: 100vw;
    overflow: scroll;
}

section {
    padding: 1rem 1.5rem;
    width: 100%;
    min-height: calc(100vh - 70px);
    overflow: scroll;
}

h1 {
    font-size: 28px;
    margin-bottom: 25px;
}

.link {
    text-decoration: none;
    color: $d-blue;
    width: fit-content;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    cursor: pointer;
    display: block;
    border: 2px solid $d-blue;
    border-radius: 3px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn:hover {
    background-color: $d-blue;
    color: $off-white;
    text-decoration: none;
}

.btn:active {
    background-color: $l-blue;
    border: 2px solid $l-blue;
    color: $off-white;
    text-decoration: none;
}
