#builder-link {
    margin-bottom: 30px;
    display: block;
}

.setInList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0px 5px 10px 0px rgba(28, 28, 28, 0.329);
    margin-bottom: 30px;
    border-radius: 5px;
    min-height: 56px;

    h3 {
        width: calc(100% - 120px);
        word-wrap: normal;
        margin-bottom: 0px;
        cursor: pointer;
    }

    h3:hover {
        text-decoration: underline;
    }

    h3:active {
        color: $l-blue;
        text-decoration: underline;
    }

    .setActions {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        width: 100px;
        margin-left: 20px;

        span {
            border: 2px solid rgba(0, 0, 0, 0);
            padding: 3px 10px 5px 10px;
            border-radius: 3px;
            cursor: pointer;
            line-height: 27px;
        }
        .edit {
            padding: 3px 10px 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .edit:hover {
            color: $green;
            border: 2px solid $green;
        }
        .edit:active {
            color: $green;
            border: 2px solid $green;
        }
        .delete:hover {
            color: $red;
            border: 2px solid $red;
        }
        .delete:active {
            color: $red;
            border: 2px solid $red;
        }
    }
}
